/* 
Box Model - Todo o CSS é em fomato de bloco/retangulo

Padding - Preencimento
Border - Borda
Margin - Distancia entre os elementos
Width - Tamanho do elemento na horizontal
Height- Tamanho do elemento na horizontal

----> Unidades de Medida

- Absolutas = Não mudam
* Px
* Cm
* Polegadas

- Relativas = Mudam de acordo com o referencial

* % - Refere ao elemento pai
* VW - Se refere ao comprimento
* VH - Se refere a altura
* EM - referencial ao elemento Pai
* REM - Referencial ao elemento raiz

- Display

* Block - Dá ao elemento o comportamento de bloco. Pode modificar o padding, magin, weith e height.
* Inline - Dá o comportamento de linha ao elemento. Não pode modificar o Height e Weith, apenas o padding e margin horizontalmente.
* Inline-block - Dá o comportamento de linha e pode usar o height e weith.




*/



.container{
    width: 100%;
    max-width: 1300px;
    margin: 0px;
    padding: 20px 30px;
    border: 10px solid yellowgreen;
}

header .header__logo {
border: solid red 5px;
margin: 100px;
padding: 50px;
vertical-align: baseline;
width: min-content;


}

.header__menu ul{
    border: 3px solid blue;
    width: 500px;
    
  
   
}

.header__menu li{
  
    border: 1px solid black;
    margin: 20px;
    display: inline-block;
}

.header__menu a{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    text-decoration: none;
    
}


